<p id="notice"><%= notice %></p>

<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Job</h3>
    <div class="box-tools">
      <ul class="pull-right">
        <a href="<%= edit_app_job_path %>" class="btn btn-success btn-xs">
          Edit Job
        </a>
      </ul>
    </div>
  </div>
  <div class="box-body">

<div class="row">
  <div class="col-md-4">
    <p>
      <strong>Job reply email:</strong>
      <%= @job.job_reply_email %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Job title:</strong>
      <%= @job.job_title %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Job location:</strong>
      <%= @job.job_location %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Job type:</strong>
      <%= @job.job_type %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Job category:</strong>
      <%= @job.job_category %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Job tags:</strong>
      <%= @job.job_tags %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Job application url:</strong>
      <%= @job.job_application_url %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Minimum hourly rate:</strong>
      <%= @job.minimum_hourly_rate %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Maximum hourly rate:</strong>
      <%= @job.maximum_hourly_rate %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Minimum salary:</strong>
      <%= @job.minimum_salary %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Maximum salary:</strong>
      <%= @job.maximum_salary %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Hours per week:</strong>
      <%= @job.hours_per_week %>
    </p>
  </div>
</div>

<p>
  <strong>Job description:</strong>
  <%= @job.job_description %>
</p>

<hr>

<div class="row">
  <div class="col-md-4">
    <p>
      <strong>Company details:</strong>
      <%= @job.company_details %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Company website:</strong>
      <%= @job.company_website %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Company video:</strong>
      <%= @job.company_video %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Company tagline:</strong>
      <%= @job.company_tagline %>
    </p>
  </div>
</div>
<hr>

<%= link_to 'Edit', edit_app_job_path(@job) %> |
<%= link_to 'Back', app_jobs_path %>

</div>
</div>
